html {
  background: #95a5a6;
  background-image: url('./imagenDeFondo.jpeg');
  background-size: auto 100% ;
  min-height: 100%;
  min-width: 100%;
  }

@media screen and (min-width: 900px) {
  html {
    background-size: 100% auto;
  }
}

  
body{
 margin: 0px 0px 20px 0px; 
}
.App {
  text-align: center;
}

.header {
  overflow: hidden;
  background-color: #3ca797   ;
  margin: 0% 0% 0% 0%;
  padding: 20px 10px 10px 10px;
  width: 100%;
  border-end-start-radius: 20%;
  border-end-end-radius: 20%;
}

.header a {
  float: left;
  color:  black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
}


.mapa{
  width: 500px;
  height: 300px;
  padding: 15px;
}


