.App {
  text-align: center;
}


.header {
  overflow: hidden;
  background-color: #3ca797   ;
  padding: 20px 10px;
  width: 98.5%;
  border-radius: 9px;
}

.header a {
  float: left;
  color:  black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
}


.mapa{
  width: 500px;
  height: 300px;
  padding: 15px;
}

.Login {
  width: 400px;
  height: 200px;
  padding: 20px;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

