html {
  background: #95a5a6;
  background-image: url('./imagenDeFondo.jpeg');
  background-size: auto 100% ;
  min-height: 100%;
  min-width: 100%;
  }

@media screen and (min-width: 900px) {
  html {
    background-size: 100% auto;
  }
}

  
body{
 margin: 0px 0px 20px 0px; 
}
.App {
  text-align: center;
}



.mapa{
  width: 500px;
  height: 300px;
  padding: 15px;
}


